@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Merienda+One&family=Merriweather+Sans&family=Open+Sans:wght@400;800&family=Source+Code+Pro&display=swap');
div.code-write {
  width: 100%;
  height: 50%;
  margin: 0;
  position: relative;
  float: left;
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

div.fixedCode {
  font-family: 'Source Code Pro', monospace;
  padding-left: 20px;
  color: #aaaaaa;
  margin-top: 5px;
  font-size: 15px;
}

textarea.code-write {
  background-color: #f2f2f2;
  background-image: url(https://www.transparenttextures.com/patterns/random-grey-variations.png);
  width: 91%;
  border-radius: 5px;
  padding: 0 20px 20px;
  padding-top: 10px;
  height: 88%;
  margin: 2px;
  margin-top: 5px;
  resize: none;
  overflow-wrap: off;
  font-size: 15px;
  font-family: initial;
  font-family: 'Source Code Pro', monospace;
  outline:0px !important;
}
